.eventcard__container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
  cursor: pointer;

  .eventcard__primary-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
    .eventcard__date {
      font-weight: bold;
    }
    .eventcard__title {
      line-height: 22px;
      padding-top: 10px;
    }
  }
  .eventcard__secundary-info-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    svg {
      margin-right: 5px;
    }
    .eventcard__confirmedPeople {
      display: flex;
      align-items: center;
    }
    .eventcard__sum {
      display: flex;
      align-items: center;
    }
  }
  .eventcard__confirmation {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
  }
}
